.object-container {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: 1.5rem;
}

.title {
    font-size: 1.25rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;

    text-align: center;

    color: white;
}

.description {
    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;

    text-align: center;

    color: hsl(217, 12%, 63%);


}

.selected-text{
    width: 65%;

    margin: auto ;
    margin-top: 1rem;

    padding: 0.256rem;

    text-align: center;

    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;

    border-radius: 1rem;

    color: hsl(25, 97%, 53%);
    background-color:hsl(212, 16%, 32%);
}