body{
    background: hsl(216, 12%, 8%);

    display: grid;
    justify-items: center;

    margin-top: 12rem;

    font-family: Inter;
    font-size: 15px;
}

.contander{

    padding-left: 1rem;

    width: 22rem;

    border-radius: 0.75rem;

    background-color: hsl(213, 19%, 18%);
}


.title{
    color: hsl(0, 0%, 100%);

    font-size: 1.15rem;
    font-weight: 700;

}

.text{
    color:hsl(216, 12%, 54%);

    font-size: 0.85rem;
    font-weight: 400;
}

.star{
    height: 1.063rem;
    width: 1.063rem;

    margin-top: 1.5rem;

    padding: 0.55rem;

    border-radius: 2rem;

    background:  hsl(212, 16%, 32%);
}

.btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
    height: 3rem;
    width: 3rem;

    font-size: 1.063rem;
    font-family: Inter;

    margin: 0.5rem;

    border: 0;
    border-radius: 2rem;

    color: hsl(216, 12%, 54%);
    background: hsl(212, 16%, 32%);
}

.btn{
    width: 96%;
    height: 2rem;

    font-family: Inter;
    font-weight: 700;

    margin: 1rem 0rem;

    border: 0;
    border-radius: 2rem;

    color:  hsl(25, 97%, 53%);
}


@media only screen and (max-width: 395px) {

    .contander{
        width: 90%;

        padding: 1rem;
    }

    .btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
        width: 2.8rem;
        height: 2.8rem;
    }
    
    .btn{
        width: 100%;
        height: 2.5rem;
    }
}

@media only screen and (max-width: 372px){

    .btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.55rem;
    }
    
}

@media only screen and (max-width: 354px){

    .btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
        margin: 0.45rem;
    }
}

@media only screen and (max-width: 336px){

    .btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
        margin: 0.35rem;
    }
}

@media only screen and (max-width: 319px){

    .btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
        margin: 0.25rem;
    }
}

@media only screen and (max-width: 301px){

    .btn-1, .btn-2, .btn-3, .btn-4, .btn-5{
        margin: 0.1rem;
    }
}
