.star {
    height: 1.063rem;
    width: 1.063rem;

    margin-top: 1.5rem;
    padding: 0.55rem;

    border-radius: 2rem;

    background-color:  hsl(212, 16%, 32%);
}

.title {
    font-size: 1.15rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;

    color: hsl(0, 0%, 100%);
}

.text {
    font-size: 0.85rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;

    color:hsl(216, 12%, 54%);
}

.button-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.btn1, .btn2, .btn3, .btn4, .btn5 {
    height: 3rem;
    width: 3rem;

    border: 0;
    border-radius: 2rem;

    margin: 0.5rem;

    font-size: 1.063rem;
    font-family: 'Overpass', sans-serif;

    cursor: pointer;

    color: hsl(216, 12%, 54%);
    background-color: hsl(212, 16%, 32%);
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover {
    transition: 0.2s;
    
    background-color: hsl(216, 12%, 54%);

    color: white;
}

.active {
    background-color:  hsl(25, 97%, 53%);

    color: white;
}

.btn {
    width: 100%;
    height: 2rem;

    border: 0;
    border-radius: 2rem;

    margin: 1rem 0rem;

    font-family: 'Overpass', sans-serif;
    font-weight: 700;

    cursor: pointer;

    background-color:  hsl(25, 97%, 53%);

    color: white;
}

.btn:hover {
    background-color: white;

    color: hsl(25, 97%, 53%);
}


@media only screen and (max-width: 389px) {
    .container {
        width: 90%;
    }

    .btn1, .btn2, .btn3, .btn4, .btn5 {
        width: 2.8rem;
        height: 2.8rem;
    }
    
    .btn {
        width: 100%;
        height: 2.5rem;
    }
}

@media only screen and (max-width: 372px) {
    .btn1, .btn2, .btn3, .btn4, .btn5 {
        height: 2.5rem;
        width: 2.5rem;
        margin: 0.55rem;
    }
}

@media only screen and (max-width: 354px) {
    .btn1, .btn2, .btn3, .btn4, .btn5 {
        margin: 0.45rem;
    }
}

@media only screen and (max-width: 336px) {
    .btn1, .btn2, .btn3, .btn4, .btn5 {
        margin: 0.35rem;
    }
}

@media only screen and (max-width: 319px) {
    .btn1, .btn2, .btn3, .btn4, .btn5 {
        margin: 0.3rem;
    }
}

@media only screen and (max-width: 301px) {
    .btn1, .btn2, .btn3, .btn4, .btn5 {
        margin: 0.1rem;
    }
}